* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
}

.intro {
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
}

.intro__img {
  max-width: 100%;
}

.intro__discription {
  background-color: #283e50;
  text-align: center;
  padding: 15px;
  font-family: Arial, sans-serif;
}

.intro__heading {
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.intro__button {
  height: 50px;
  text-decoration: inherit;
  color: white;
  border: none;
  font-size: 1rem;
}

.intro__button--rules {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
}

.intro__button--rules:hover {
  background-color: #1cbb96;
}

.intro__button--start {
  background-color: #0197f6;
}

.intro__button--start:hover {
  background-color: #0090e9;
}