* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
}

.intro {
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
}

.intro__img {
  max-width: 100%;
}

.intro__discription {
  background-color: #283e50;
  text-align: center;
  padding: 15px;
  font-family: Arial, sans-serif;
}

.intro__heading {
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.intro__button {
  height: 50px;
  text-decoration: inherit;
  color: white;
  border: none;
  font-size: 1rem;
}

.intro__button--rules {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
}

.intro__button--rules:hover {
  background-color: #1cbb96;
}

.intro__button--start {
  background-color: #0197f6;
}

.intro__button--start:hover {
  background-color: #0090e9;
}

.game {
  display: flex;
  flex-direction: column;
  max-width: 80vmin;
  margin: auto;
}

.game__heading {
  font-family: 'Lobster', cursive;
  color: white;
  text-align: center;
  font-size: 5rem;
  font-weight: normal;
  margin: 10px auto;
}

.game__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.game__player {
  display: flex;
  gap: 10px;
}

.game__buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.game__button {
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.game__button--home {
  background-color: #1fcca4;
}

.game__button--home:hover {
  background-color: #1cbb96;
}

.game__button--restart {
  background-color: #0197f6;
}

.game__button--restart:hover {
  background-color: #0090e9;
}

.game__area {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  background-color: transparent;
  border: 1px solid black;
  margin: 10px 0px;
  
}

.game__field {
    min-height: calc(80vmin/10);
    min-width: auto;
    background-color: #fad9e4;
    opacity: 60%;
    border: 1px solid black;
}

.game__field:hover {
  background-color: #f9edf3;
}

.game__field:focus {
  background-color: #f9edf3;
}

